.carousel-container {
  position: relative;
  width: 1037px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-card {
  min-width: 33.33%; /* Cada card ocupa um terço da largura para que 3 cards sejam visíveis */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.icon {
  font-size: 3rem;
}
