.container_body{
    margin: 40px 150px 0px 150px;
}

#linha {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    /* padding: 20px 0px 20px 0px; */
    opacity: 0.2;

}

/* CABECALHO */
.cab_container{
    width: 100%;
    display:flex;
    align-items:center;
}

.cab_logo{
    color: #A60321;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;    
}

.cab_options{
    justify-content: center;
    display: flex;
    flex:10;
    gap: 48px;
    text-decoration: none;
}
/* DOIS BOTÕES */
.cab_login, .home_pd_teste{ 
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #A60321;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

}

.cab_logo, .cab_options_home, .cab_options_info, .cab_options_check, .teste{
    text-decoration: none;
    background-color: #0000;
}

/* POSSO DOAR */
.home_container, .check_container, .info_container, .locais_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_posso_doar, .info_title, .check_page_title, .info_locais{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 837px;
    gap: 24px;
}

.home_posso_doar, .info_title, .check_page_title, .info_locais{
    background-color: rgba(230, 74, 74, 0.267);
    padding: 40px;
    border-radius: 20px;
}
h1{
    color: #A60321;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    height: 30px;
}

.home_pd_descubra{
    color: #828282;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

/* ULTIMOS CHECKIN */
.home_doadores{
    margin-top: 110px;
    align-self: self-start;
    display: flex;
    flex-direction: column;
}

.home_doadores_dif{
    color: #828282;
    font-size: 24px;
    line-height: 150%; 
}

/* BOX */
.home_box_container{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
}

.home_box_one, .home_box_two, .home_box_three{
    border-radius: 12px;
    border: 1px solid #F7F7F7;
    box-shadow: -4px 8px 20px 0px;
    width: 25%;
    padding: 40px;
}

.home_box_avatar_container{
    display: flex;
    gap: 30px;
}

.home_box_one_avatar, .home_box_two_avatar, .home_box_three_avatar{
    background-color: #000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* MURAL DE AJUDA */
.home_mural_help{
    margin-top: 110px;
    align-self: self-start;
    display: flex;
    flex-direction: column;
}

.home_mural_dif{
    color: #828282;
    font-size: 24px;
    line-height: 150%; 
}



/*PÁGINA LOGIN E CADASTRO */
.pai_componentes_loginecad{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.molde_imagem_logecad{
    width: 660px;
    height: 550px;
    border-radius: 30px;
    border: 3px solid rgba(255, 0, 0, 0.30);
    box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex: 1;
}
.imagem_loginecad{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.molde_form_login{
    width: 660px;
    height: 550px;
    border-radius: 30px;
    border: 3px solid rgba(255, 0, 0, 0.30);
    box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex: 1;
}
.return_cablogecad{
    text-decoration: none;
    color: #A60321;
}
.line_divisor{
    border: none;
    border-top: 1px solid #ccc; /* Cor e estilo da linha */
    margin: 5px 5px; /* Espaçamento acima e abaixo da linha */
}

/*FORM PÁGINA DE LOGIN */

.cab_logincad{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_form_login{
    margin-top: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.title_login{
    color: #A60321;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 30px;
}
.botao_loginecad{
    background-color: #A60321;
    text-align: center;
    width: 450px;
    height: 30px;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none;
}
.botao-google {
    display: flex;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}
.botao-google:hover {
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.10);
}
.imagem_botao_google{
    width: 30px;
    height: 30px;
    align-self: center;
}

/*FORM PÁGINA DE CADASTRO */
.title_form_cadastro{
    margin-top: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.title_cadastro{
    color: #A60321;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 30px;
}
.return_form_cad{
    color: #000;
    text-decoration: none;
}
/*CABEÇALHO ESPECÍFICO DAS PÁGINAS DE LOGIN E CADASTRO */
.pai_logincad{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 30px;
}
.cab_logincad{
    color: #A60321;
    width: 1370px;
    height: 60px;
    display: flex;
    background-color: rgba(255, 0, 0, 0.50);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
/* COMPONENTES */

/* LIKE */
.button_like{
    display: flex;
    width: 100px;
    padding: var(--Spacing-XS, 8px) 16px;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-XS, 8px);
    flex-shrink: 0;
    border-radius: var(--Spacing-XS, 8px);
    background: #658C7A;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}

/* SHARE */

.button_share{
    display: flex;
    width: 100px;
    padding: var(--Spacing-XS, 8px) 16px;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-XS, 8px);
    flex-shrink: 0;
    border-radius: var(--Spacing-XS, 8px);
    background: #6b69de;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}


.container_coments{
    /* width: 80em; */
    /* height: 100%; */
    padding-top: 110px;
}

.coments_one, .coments_two, .coments_three, .coments_four, .coments_five{
    display: flex;
    padding: 20px 0px 20px 0px;
    align-items: end;
}

.buttons_one{
    display: flex;
    padding-left: 100px;
    flex: 1;
    gap: 15px;
}

.coments_post{
    flex:10;
}

h6{
    color: rgba(0, 0, 0, 0.60);
    margin: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.coments_text{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.084px;
}

/*FOOTER*/
.footer_principal{
    border-top: 2px solid rgba(72, 70, 70, 0.656);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;    
}
.footer_1{
    display: flex;
    flex-direction: column;
    flex: 3;
    color: #333333ca;
}
.footer_2{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #333333ca;
}
.footer_3{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #333333ca;
    
}
.title_footer{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin-right: 8px;
    margin-top: 10px;
    text-decoration: none;
    color: #A60321;
}
.subtitle_footer{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 11px;
    margin-right: 8px;
    margin-top: 10px;
    text-decoration: none;
    color: #333333ca;
}
.subtitle_footer_flex1{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 8px;
    margin-top: 15px;
    text-decoration: none;
    color: #333333ca;
}

.subtitle_footer:hover{
    transition: 0.5;
    color: #A60321;

}
.subtitle_footer_flex1:hover{
    transform: 0.5;
    color: #A60321;
}

.footer_img{
    display: flex;
    /* background-color: black; */
    gap:10px;
    margin-top: 15px;
}

/*Pagina Locais*/
.title_locais, .sub_title_locais{
    align-items: center;
}

.pai_locais{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pai_blocos_locais{
    display: flex;
    height: 900px;
    width: 1200px;
    background-color: #658C7A;
    flex-direction: column;  
    gap: 100px;
}

.filho_local1{
    display: flex;
    width: inherit;
    height: inherit;
    background-color: #A60321;
}

.filho_local2{
    display: flex;
    width: inherit;
    height: inherit;
    background-color: #6b69de;
}









/* Pagina perfil*/
.perfil_pr{
    text-align: center;
    align-items: center;
}

.imgp{

    align-items: center;
    width: 100px;
    height: 100px;
}

#Alterarfotodeperfil{

    font-size: 12px;
}

#btcertificado{

    border-radius: 5px;
    width: 200px;
    height: 25px;
    background-color: rgb(91, 143, 99);
    border: none;
    font-size: 15px;
    color: #ccc;
    
}

.inpf1, .inpf2, .inpf3, .inpf4{

text-align: left;

}

.inputpf1,.inputpf2, .inputpf4{
    width: 100%;
    height: 17px;
}
        
.inputpf3{

    width: 100%;
    height: 150px;
}

#btsalvar{

    border-radius: 5px;
    width: 700px;
    height: 30px;
    background-color: #A60321;
    border: none;
    font-size: 15px;
}


/* SOBRE */

.container_sobre_{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;


    
}

.sobre_doacao_{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
}

.sobre_qr_{
text-align: right;
flex: 1;

}

.qr_sb{
       

    height: 200px;
    width: 200px;
}

.pai_qr{
    display: flex;
    flex-direction: row;
}

.info_qr{
    flex: 1;
    text-align: center;
    align-self: center;
}
    

