.container_body{
    margin: 40px 150px 0px 150px;
}

#linha {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    opacity: 0.2;

}

/* CABECALHO */
.cab_container{
    width: 100%;
    height: 200px;
    display:flex;
    align-items:center ;
}

.cab_logo{
    color: #A60321;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #A60321;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 10%;
    display: flex;
    justify-content: center;    
}

.cab_options{
    justify-content: center;
    display: flex;
    flex:10;
    gap: 48px;
    text-decoration: none;
}
.cab_login{
    /* margin-right: 30px; */
}

.cab_login, .teste{
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #A60321;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

}

.cab_logo, .cab_options_home, .cab_options_info, .cab_options_check, .teste{
    text-decoration: none;
    background-color: #0000;
}

/* POSSO DOAR */
.home_container{
    width: 100%;
    height: 2077px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_posso_doar{
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 837px;
    gap: 24px;
}

h1{
    color: #A60321;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 30px;
}

.home_pd_descubra{
    color: #828282;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.home_pd_teste{
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #A60321;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

/* ULTIMOS CHECKIN */
.home_doadores{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-self: self-start;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    display: flex;
    width: 1280px;
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
}

.home_doadores_dif{
    color: #828282;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;   
    line-height: 150%; 
}

/* BOX */
.home_box_container{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
}

.home_box_one, .home_box_two, .home_box_three{
    border-radius: 12px;
    border: 1px solid #F7F7F7;
    background: #FFF;
    box-shadow: -4px 8px 20px 0px;
    display: flex;
    padding: var(--Spacing-SM, 32px);
    width: 25%;
    padding: 40px;
}

.home_box_avatar_container{
    display: flex;
    gap: 30px;
}

.home_box_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_box_one_avatar, .home_box_two_avatar, .home_box_three_avatar{
    background-color: #000;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
}

/* MURAL DE AJUDA */
.home_mural_help{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-self: self-start;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    display: flex;
    width: 1280px;
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
}

.home_mural_dif{
    color: #828282;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;   
    line-height: 150%; 
}

/*PÁGINA LOGIN E CADASTRO */
.pai_componentes_loginecad{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.molde_imagem_logecad{
    width: 660px;
    height: 550px;
    border-radius: 30px;
    border: 3px solid rgba(255, 0, 0, 0.30);
    box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex: 1;
}
.imagem_loginecad{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.molde_form_login{
    width: 660px;
    height: 550px;
    border-radius: 30px;
    border: 3px solid rgba(255, 0, 0, 0.30);
    box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex: 1;
}
/*FORM PÁGINA DE LOGIN */

/*FORM PÁGINA DE CADASTRO */


/*CABEÇALHO ESPECÍFICO DAS PÁGINAS DE LOGIN E CADASTRO */
.pai_logincad{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 30px;
}

.cab_logincad{
    color: #A60321;
    width: 1370px;
    height: 60px;
    display: flex;
    background-color: rgba(255, 0, 0, 0.50);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}



/* COMPONENTES */

/* LIKE */
.button_like{
    display: flex;
    width: 100px;
    padding: var(--Spacing-XS, 8px) 16px;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-XS, 8px);
    flex-shrink: 0;
    border-radius: var(--Spacing-XS, 8px);
    background: #658C7A;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}

/* SHARE */

.button_share{
    display: flex;
    width: 100px;
    padding: var(--Spacing-XS, 8px) 16px;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-XS, 8px);
    flex-shrink: 0;
    border-radius: var(--Spacing-XS, 8px);
    background: #6b69de;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}
/*Footer*/
/* h1{
    color: #A60321;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 30px;
}

h4{
    color: #828282;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 30px;
} */

/* .footer_apo{
        background-color: #658C7A;
        width: 1200px;
        display: flex;
        flex-direction: column;
        
    }
/* COMENTARIOS */

.container_coments{
    width: 80em;
    height: 100%;
    padding-top: 110px;
}

.coments_one, .coments_two, .coments_three, .coments_four, .coments_five{
    display: flex;
    padding: 20px 0px 20px 0px;
    align-items: end;
}

.buttons_one{
    display: flex;
    padding-left: 100px;
    flex: 1;
    gap: 15px;
}

.coments_post{
    flex:10;
}

h6{
    color: rgba(0, 0, 0, 0.60);
    margin: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.coments_text{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.084px;
}